---
- name: Instalar Docker e Docker Compose
  hosts: all
  become: yes

  tasks:
    - name: Instalar dependências
      apt:
        name: [ "curl", "apt-transport-https", "ca-certificates", "software-properties-common" ]
        state: present
        update_cache: yes

    - name: Adicionar repositório oficial do Docker
      apt_repository:
        repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Instalar Docker
      apt:
        name: docker-ce
        state: present
        update_cache: yes

    - name: Instalar Docker Compose
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.23.3/docker-compose-linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: '0755'

    - name: Verificar versão do Docker Compose
      command: docker-compose --version
