---
- name: Deploy com Docker Compose via Ansible
  hosts: servidor
  become: true

  tasks:
    - name: Garantir que git est치 instalado
      apt:
        name: git
        state: present
      when: ansible_os_family == "Debian"

    - name: Clonar ou atualizar reposit칩rio
      git:
        repo: "https://github.com/DaviPO2001/AWS-WORDPRESS-ANSIBLE.git"
        dest: "/opt/app"
        version: "main"

    - name: Garantir que Docker est치 instalado
      apt:
        name: docker.io
        state: present
      when: ansible_os_family == "Debian"

    - name: Garantir que Docker Compose est치 instalado
      apt:
        name: docker-compose
        state: present
      when: ansible_os_family == "Debian"

    - name: Subir containers com docker-compose
      command: docker-compose up -d
      args:
        chdir: /opt/app
