---
- name: Deploy WordPress com Docker Compose na AWS EC2
  hosts: ec2
  become: true

  tasks:
    - name: Atualizar pacotes
      apt:
        update_cache: yes

    - name: Instalar dependências básicas
      apt:
        name:
          - git
          - curl
          - ca-certificates
          - apt-transport-https
        state: present

    - name: Instalar Docker
      apt:
        name: docker.io
        state: present

    - name: Adicionar usuário ubuntu ao grupo docker
      user:
        name: ubuntu
        groups: docker
        append: yes

    - name: Instalar Docker Compose Plugin (v2)
      apt:
        name: docker-compose-plugin
        state: present

    - name: Clonar ou atualizar repositório WordPress
      git:
        repo: "https://github.com/DaviPO2001/AWS-WORDPRESS-ANSIBLE.git"
        dest: "/opt/app"
        version: "main"

    - name: Subir containers com Docker Compose v2
      community.docker.docker_compose_v2:
        project_src: /opt/app
        state: present
