name: CI/CD WordPress

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        run: terraform apply -auto-approve

  deploy:
    needs: terraform
    runs-on: ubuntu-latest
    steps:
      - name: Copiar docker-compose para EC2
        run: |
          scp -i sua-chave.pem docker-compose.yml ubuntu@${{ secrets.AWS_IP }}:/home/ubuntu/
          ssh -i sua-chave.pem ubuntu@${{ secrets.AWS_IP }} "docker-compose -f /home/ubuntu/docker-compose.yml up -d"

  test:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Testar aplicação
        run: |
          curl -I http://${{ secrets.AWS_IP }}:8080 | grep "200 OK"
