name: CD Pipeline

on:
  push:
    branches: [ "main", "teste", "develop", "master" ]

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      - name: Preparar EC2 com Docker e reposit贸rio
        uses: ansible/ansible-runner-action@v2
        with:
          playbook: ansible/install-docker.yml
          inventory: ansible/inventory/hosts.ini

  deploy:
    runs-on: ubuntu-latest
    needs: prepare   # s贸 roda se o job prepare terminar com sucesso
    steps:
      - name: Checkout c贸digo
        uses: actions/checkout@v3

      - name: Deploy para EC2 via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: 52.15.204.67
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/app
            git pull origin main
            docker-compose pull
            docker-compose up -d
